# Created by pytest automatically.
# Python cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code temporary file
tempCodeRunnerFile.py

# macOS
.DS_Store

# Generated model artifacts
models/

